<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myhousekeepingservice.mapper.ProjectMapper">


    <select id="selectPage" resultType="com.myhousekeepingservice.model.ProjectResp">
        select
            t1.`id`,
            t1.`company_id` companyId,
            t1.`service_id` serviceId,
            t1.`name`,
            t1.`pic`,
            t1.`price`,
            t1.`time`,
            t1.`content`,
            t1.`create_time` createTime,
            t1.`update_time` updateTime,
            t2.name serviceName,
            t3.name companyName
        from `project` t1, service_type t2, company t3
        where t1.`company_id` = t3.`id` and t1.`service_id`=t2.`id` and 1=1
        <if test="name !='' and name != null">
            and t1.`name` like  concat('%', #{name,jdbcType=VARCHAR},'%')
        </if>
        <if test="serviceId != null">
            and t2.`id` = #{serviceId,jdbcType=BIGINT}
        </if>
        <if test="companyId != null">
            and t3.`id` = #{companyId,jdbcType=BIGINT}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*)
        from `project` t1, service_type t2, company t3
        where t1.`company_id` = t3.`id` and t1.`service_id`=t2.`id` and 1=1
        <if test="name !='' and name != null">
            and t1.`name` like  concat('%', #{name,jdbcType=VARCHAR},'%')
        </if>
        <if test="serviceId != null">
            and t2.`id` = #{serviceId,jdbcType=BIGINT}
        </if>
        <if test="companyId != null">
            and t3.`id` = #{companyId,jdbcType=BIGINT}
        </if>
    </select>

</mapper>
